<article id='lead'>

    <h1>{{model.fullName}}</h1>

    <p>Name: {{model.fullName}}</p>
    <p>Email: {{model.email}}</p>
    <p>Phone: {{model.phone}}</p>

    <p>
      <label>Status:</label> 
      {{view 'select' content=model.STATUSES value=model.status}}
    </p>
    <p>
      <label>Notes:</label>
      {{textarea value=model.notes}}
    </p>
    <p>
    <input type='submit' value='Save Changes' {{action "saveChanges"}} />
    </p>

</article>
